.myCanvas{
    background-color: #000;
    width: 800px;
    height: 600px;
    position: static;
}

.status{
    text-align: center;
    background-color: #feff68;
    width: 300px;
    height: 600px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.stage{
    float: left;
    font-size: 20px;
    padding: 0.5em 1.5em ;
    margin: 0em 2 2 2;
    font-weight: bold;
    border: solid 1px #000000;
}

.time{
    font-size: 20px;
    padding: 0.5em 1em;
    margin: 0em 2 2 2;
    font-weight: bold;
    border: solid 1px #000000;

}

.key-item{
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 1px #000000;
    background-color: white;
}

.key-item .star-title{
  font-size: 50px;
  float: left;
  background: #5fb3f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  letter-spacing: 0.05em;
}

.key-item p {
  font-size: 50px;
  margin: 0;
  padding: 4px;
}

.restart-button{
  position: absolute;
  top: 350px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 40px;
  margin: 20px 0px;
  padding: 20px 0px;
  background-color: orange;
  white-space: nowrap;
  border-radius: 10px;
  border: solid 1px #000000;
  background-color: orange;
}

.stop-button{
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 40px;
  margin: 20px 0px;
  padding: 20px 0px;
  white-space: nowrap;
  border-radius: 10px;
  border: solid 1px #000000;
  background-color: darkorange;
}
