.myCanvas{
    background-color: #000;
    width: 800px;
    height: 600px;
    position: relative;
}

.status{
    text-align: center;
    background-color: #feff68;
    width: 350px;
    height: 600px;
    font-size: 30px;
    position: absolute;
    left: 806px;
    top: 0px;
}

.stage{
    float: left;
    font-size: 30px;
    color: #fff;
    padding: 1px 1.5em ;
    margin: 0em 2 2 2;
    font-weight: bold;
    background-color: #3660a1;
    border: solid 3px #0000CD;
}

.time{
    color: #fff;
    padding: 1px 1px;
    margin: 0em 2 2 2;
    font-weight: bold;
    background-color: #82aded;
    border: solid 3px #0000CD;

}

.key-item{
    margin:80px 25px;
    padding: 0px 0px 0px 20px;
    position: relative;
    border: solid 2px #000;
    border-radius: 3px 0 3px 0;
}
.key-item:before,.key-item:after
{
    content: '';
    position: absolute;
    width:45px;
    height: 45px;
    border: solid 2px #000;
    border-radius: 50%;
}
.key-item:after {
    top:-30px;
    left:-30px;
    background-color: #233B6C
}
.key-item:before {
    bottom:-30px;
    right:-30px;
    background-color: #B3424A
}

.key-item .star-title{
  float: left;
  background: #FFFFF0;
  margin-left: -20px;
  padding: 20px 0px 20px 0px;
  text-align: center;
  letter-spacing: 10px;

}

.key-item p{
  margin: 0;
  padding: 20px 0px 20px 0px;
  background: #FAEBD7;
}

.restart-button{
  position: absolute;
  top: 350px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0px;
  padding: 20px 0px;
  background-color: orange;
  white-space: nowrap;
  border-radius: 0px 80px 0px 80px;
  border: solid 2px #000000;
  background-color: orange;

}

.stop-button{
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0px;
  padding: 20px 0px;
  white-space: nowrap;
  border-radius: 100px 0px 100px 0px;
  border: solid 2px #000000;
  background-color: darkorange;
}